*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: Georgia;
    font-size: 20;
}
.header{
    background-color: Black;
    height: 80px;;
    width: 100%;
    color: white;
    display: block;
}
.inner_header{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Monrserrat';
    font-size: 32px;
    font-weight: 200;

}
.logo_container h1 span{
    font-weight: 800;
}
.navigation{
    float: right; 
    height: 100%;
    
}
.navigation button{
    height: 100%;
    display: table-cell;
    float: left;
    padding: 0px 20px;
    background-color: transparent;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;   
}
.navigation button:hover{
    background-color: white;
    color: black;
}
.brand_container{
    width: 70%;
    
    display: block;
    margin: 0 auto;
    border: black;
}
.Our_Brands h1{
    
    color: black;
    text-align: center;
    vertical-align: middle;
    font-family: 'Monrserrat';
    font-size: 32px;
    font-weight: 200;
}
.Our_Brands{
    text-align: center;
}

.vectus{
    margin-bottom: 15px;
}
.fs{
    margin-bottom: 45px;
    padding-right: 50px;
}
.Our_Brands hr{
    width: 70%;
    display: block;
    margin: 0 auto;
    
}
.pictures{
    width: 100%;
    height: 200px;
    color: White;
    display: block;
    margin: 0 auto;
}
.absolute{
    position: absolute;
    margin-top: 15%;
    margin-left: 15%;
    vertical-align: middle;
    font-family: 'Monrserrat';
    font-size: 45;
    font-weight: 300;


}
.pictures a:hover{
    color: grey;
    vertical-align: middle;
    font-family: 'Monrserrat';
    font-size: 45;
    font-weight: 500;

}
.waymarker{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}
.text_over_image{
    color: white;
    position: relative;
    
}